In [7]:
import pandas as pd
import sys

In [8]:
p = f'{sys.path[0]}/data/clients.csv'

In [9]:
p

'/Users/crisfon6/Documents/gotdibs/testcf6/src/data/clients.csv'

In [14]:
df = pd.read_csv(p,sep=";")

In [15]:
df.head()

   name               email       phone       card_number  card_cvc  card_date
0  John  fnsk1999@gmail.com  9171234234  1234567890123456       123       1212

In [19]:
df['name']

0    John
Name: name, dtype: object

In [22]:
d=df.iloc[0]

In [26]:
d['name']

'John'